{{title}}
<!-- <h3>My city is {{myCity}}</h3>
<li>
    <ul *ngFor='let ud of userData'>
{{ud}}
    </ul>
    <ul *ngFor='let dept of department'>
        {{dept}}
            </ul>
</li>
{{myCity}} -->
<app-mycomp></app-mycomp>

City : <input type="text" class = "form-control" [value]=myCity/>  <!-- <--Property binding> -->
City With two way data binding : <input type="text" [(ngModel)]=myCity/>  <!-- <--Two way data binding> -->
ProfilePic : <img [src]="profilePic"/>
 <button (click)="callMe()" class="btn btn-danger">call</button> <!-- Event Binding -->